<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit and Update  List </title>
</head>
<body>
    <h2>Edit List </h2>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
   <input type="text" name="listing[title]" value="<%=listing.title %>" ><br><br>
   <textarea name="listing[description]" rows="10" cols="20"><%= listing.description %></textarea><br><br>
   <input name="listing[image]" value="<%=listing.image %>" ><br><br>
   <input type="number" name="listing[price]"  value="<%=listing.price %>"><br><br>
   <input type="text" name="listing[location]" value="<%=listing.location %>"><br><br>
   <input type="text" name="listing[country]" value="<%=listing.country %>"><br><br>
   <button>Edit List </button>
    </form>
</body>
</html>